{% include 'header.html' %}
<body class="text-center">
<main class="form-signin w-100 m-auto">
    <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
        <ul class="nav navbar-nav active"><li class="nav-item"><a class="nav-link" href="/view">List Product</a></li></ul>
        <ul class="nav navbar-nav active"><li class="nav-item active"><a class="nav-link" href="/add">Add Product</a></li></ul>
        <ul class="nav navbar-nav active"><li class="nav-item"><a class="nav-link" href="/update">Edit Product</a></li></ul>
        <ul class="nav navbar-nav active"><li class="nav-item"><a class="nav-link" href="/delete">Delete Product</a></li></ul>
    </nav>
    <br>

<form enctype="multipart/form-data" action = "/savedetails" method="post">
    <h1 class="h3 mb-3 fw-normal">Product Information</h1>
    <div class="form-floating">
        <input type="text" name="name" class="form-control" id="floatingInput" placeholder="ProductName"></div>

    <div class="form-floating">
        <input type="number" name="price" class="form-control" id="floatingInput" placeholder="Price"></div>
    
    <div class="form-floating">
        <input type="number" name="quantity" class="form-control" id="floatingInput" placeholder="Quantity"></div>

    <div class="form-floating">Category
        <input type="radio" name="category" value="makanan"><label>Makanan</label>
        <input type="radio" name="category" value="minuman"><label>Minuman</label></div>
    <div class="form-floating"><input type="file" name="image" class="form-control">
        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    </form>
</main>
</body>
{% include 'footer.html' %}