{% include 'header.html' %}
<body class="text-center">
    <main class="form-signin w-100 m-auto">
    <h2>Hi, Welcome!</h2>

    <div class="btn-group-vertical">

        <a href ="/view"><button class="btn" data-toggle="tooltip" data-placement="bottom" title="list semua produk yang sudah ditambah">
        List Product</button></a>

        <a href="/add"><button class="btn" data-toggle="tooltip" data-placement="bottom" title="input data makanan / minuman">
        Add Product</button></a>

        <a href="/update_product"><button class="btn" data-toggle="tooltip" data-placement="bottom" title="ubah data makanan / minuman">
        Edit Product</button></a>

        
        <a href="/delete"><button class="btn" data-toggle="tooltip" data-placement="bottom" title="hapus data produk">
        Delete Product</button></a>
    </div>
    <!--<p class="mt-5 mb-3 text-muted">&copy; Naungan 2022-2023</p>-->
</main>
</body>
{% include 'footer.html' %}